## Topic: For loops

### OUTCOMES

- 1. Introduction of "for loop"

- 2. for loop with range()

- 3. for loop with string

- 4. for loop with list

- 5. for loop with tuple

### 1. Introduction of "for loop"

- for loop use for sequential traversal.

- syntax:
    - for item in sequence:
        - body of loops

- Sequence:
    - range()
    - string.
    - list
    - tuple

### 2. for loop with range()

- syntax of range()

- range(lower_bound : upper_bound : step)

- lower_bound = 0 [inclusive]
- upper_bound = 1 [Exclusive]

- step/jump parameter/ skip = 1 [By defalut]

In [1]:
list(range(1,10,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# for loop with range [in normal form]

for i in range(1,10):
    print(i, end = ' ')

1 2 3 4 5 6 7 8 9

In [3]:
# for loop with range [step size positive]

for i in range(1, 11,2):
    print(i)

1
3
5
7
9

In [ ]:
# for loop with range [step size negative]

for i in range(1, 11,-1):
    print(i)
    
# what happen?
# - when step size is negative 
# then i start with upper bound and end with lower bound.

In [5]:
# solutiont [when -1 negative step then exchange the upper and lower bound]

for i in range(10, 0, -1):
    print(i, end = " ")

10 9 8 7 6 5 4 3 2 1

In [8]:
# for loop with step

for i in range(1, 30, 3):
    print(i,end =" ")

1 4 7 10 13 16 19 22 25 28

### 3. for loop with string

In [10]:
# loop with string

for name in "KzRaihan":
    print(name, end = " ")

K z R a i h a n

### 4. for loop with list

In [11]:
for lst in [10, 20, 30, 40, 50]:
    print(lst)

10
20
30
40
50

### 5. for loop with tuple

In [14]:
# 1st way [if without () is count as tuple]

for i in 1,2,3,4,4,5:
    print(i, end = " ")

1 2 3 4 4 5

In [15]:
# 2nd way
for i in (10, 20, 30, 40, 50):
    print(i, end=" ")

10 20 30 40 50

### Exercise

üü¢ LEVEL 1 ‚Äî Beginner Exercises

- 1Ô∏è‚É£ Print numbers from 1 to 10
- 2Ô∏è‚É£ Print even numbers from 2 to 20
- 3Ô∏è‚É£ Print numbers from 10 to 1 (reverse order)
- 4Ô∏è‚É£ Print your name 5 times
- 5Ô∏è‚É£ Create a loop that prints only numbers divisible by 3 between 1 to 30

In [16]:
# 1Ô∏è‚É£ Print numbers from 1 to 10

for i in range(1,11):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [17]:
# 2Ô∏è‚É£ Print even numbers from 2 to 20

for i in range(2,21,2):
    print(i, end=" ")

2 4 6 8 10 12 14 16 18 20

In [19]:
# 3Ô∏è‚É£ Print numbers from 10 to 1 (reverse order)

for i in range(10,1,-1):
    print(i, end=" ")

10 9 8 7 6 5 4 3 2

In [23]:
# 4Ô∏è‚É£ Print your name 5 times

for i in range(1,6):
    print(i ,"KzRaihan")

1 KzRaihan
2 KzRaihan
3 KzRaihan
4 KzRaihan
5 KzRaihan

In [24]:
# 5Ô∏è‚É£ Create a loop that prints only numbers divisible by 3 between 1 to 30

for i in range(1,31):
    if i%3 == 0:
        print(i, end = " ")

3 6 9 12 15 18 21 24 27 30

üü° LEVEL 2 ‚Äî Intermediate Exercises
- 7Ô∏è‚É£ Sum of numbers from 1 to 100
- 8Ô∏è‚É£ Count how many even numbers are between 1 to 50
- 9Ô∏è‚É£ Take a user input N and print numbers from 1 to N
- üîü Print the multiplication table of 7

In [26]:
# 7Ô∏è‚É£ Sum of numbers from 1 to 100

i = 1
sum = 0

while i <=100:
    sum += i
    i += 1

print("Summation: ", sum)

Summation:  5050

In [28]:
# 8Ô∏è‚É£ Count how many even numbers are between 1 to 50

count_even = 0

i = 0

while i < 51:
    if i % 2 == 0:
        count_even += 1
    
    i += 1

print("Even Number: ", count_even)

Even Number:  26

In [31]:
# 9Ô∏è‚É£ Take a user input N and print numbers from 1 to N

num = int(input("Enter Your number: "))

i = 1

while i <= num:
    print(i, end = " ")
    
    i += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15

In [33]:
# üîü Print the multiplication table of 7

i = 1

while i <=10:
    print(f"{7} * {i} = {7 * i}")
    
    i += 1

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

üî¥ LEVEL 3 ‚Äî Hard Exercises (Challenge)

- 1Ô∏è‚É£ Print all numbers from 1 to 100 that are divisible by both 3 and 5
- 2Ô∏è‚É£ Reverse a number using a loop
    - Input: 1234
    - Output: 4321

In [34]:
# 1Ô∏è‚É£ Print all numbers from 1 to 100 that are divisible by both 3 and 5

for i in range(1,101):
    if (i%3 == 0) & (i %5 == 0):
        print(i, end=" ")

15 30 45 60 75 90

In [ ]:
# 2Ô∏è‚É£ Reverse a number using a loop
#     - Input: 1234
#     - Output: 4321

num = int(input("Enter number: "))

while num:
    
    num = num / 10

10 9 8 7 6 5 4 3 2 1