## Topic: Variable, Identifiers, Keywords

### OUTCOMES

- 1. Definition, types and Example of Variable

- 2. Definition, Rules and type checking of Identifiers.

- 3. Naming Conventions of Identifier

- 4. Intro of Python Keywords

### 1. Definition, types and Example of Variable

- Definition:
    - Variable is a container that store any types of data.

- syntax:
    - variable_name = value
    - eg: name = "KzRaihan"

- Types of Variable:
    - 1. Dynamic Typing
        - python follow the Dynamic type.
        - Dynamic type of variable is automatically detect in run time. 

    - 2. Static Typing
        - when declare the variable then it's must be define it's type
        - eg: int num1 = 10;
        - eg: float price = 3.14;

In [ ]:
# Example of Variable

# variable declare and assign
a = 10
b = 'Kz'
c = True
d = 3 + 2j
e = 3.14

# Display Variable values
print(a)
print(b)
print(c)
print(d,e)

10
Kz
True
(3+2j) 3.14

In [6]:
# another way to variable declare and assign

a = 10
b = 10 
c = 10
print(a , b, c)

a = b = c = 20
print(a, c)
print(a)
print(b)

10 10 10
20 20
20
20

### 2. Definition and Rules of Identifiers

- Identifier:
    - The Unique name of the Variable is called Identifier.

    - Identifier name must be simple, short and maningful.

    - eg: 
        - name = "KzRaihan" 
        - a = "KzRaihan" (X)


- Rule of the Identifier:
    - Identifier can be Alpha-numerical (A-z, 0-9).
    
    - Identifier can't start with number
        - eg: 1name = "Kz" (Invalid)
    
    - It can't use Special Characters except underscore(_).
        - eg:
            -  _var = 10 (valid)
            - var* = 'Hi' (invalid)
            - value& = 99 (invalid)

    - Identifier can't have space.
        - eg: var 1 = 10 (invalid)

    - Identifier are case-sensitive and identifier name can't be keyword

In [8]:
# Example of identifier 
# - identifier name is simple, short and meaningful or (Descriptive)
name = "KzRaihan"
age = 24
height = 5.7
pi_val = 3.14

is_learner = True

var_complex = 2 + 3j

# display
print("Name: ", name)
print("Age: ", age)
print("Height: ", height)
print("PI value: ", pi_val)
print("Learner: ", is_learner)
print("Complex val: ", var_complex)

Name:  KzRaihan
Age:  24
Height:  5.7
PI value:  3.14
Learner:  True
Complex val:  (2+3j)

In [ ]:
# invalid identifier
1name = 'Ra'

@var = 100

taka$ = 99.99

spe*cial = 88

int = 10

float = 9.9

SyntaxError: invalid decimal literal (3524394554.py, line 2)

In [ ]:
# Other Valid Identifier

Name = "Bangladesh"  # Identifier is case-sensitive

name = "KzRaihan"

_ = 10

var_ = 40


print(Name)  
print(_)
print(var_)

Bangladesh
10
40

#### - Identifier Type Checking

In [1]:
# identifier type checking using type() function
name = "Kz"
age = 24
height = 6.6

print(name, type(name))
print(age, type(age))
print(height, type(height))

Kz <class 'str'>
24 <class 'int'>
6.6 <class 'float'>

### 3. Naming Conventions of Identifier

- Ther are three way to define multi-word identifier
    - 1. snake_case 
    - 2. camelCase
    - 3. PascalCase

In [15]:
# 1. snake_case
first_name = "Kz"

fix_price = 999.99

is_student = True

# display
print("First name: ", first_name)
print("Type: ", type(first_name))

print("\nPrice: ", fix_price)
print("Type: ", type(fix_price))

print("\nStudent: ", is_student)
print("Type : ", type(is_student))

First name:  Kz
Type:  <class 'str'>

Price:  999.99
Type:  <class 'float'>

Student:  True
Type :  <class 'bool'>

In [ ]:
# 2. camelCase (first word is smaller and second first word letter is capital)
varName = "Python"

myVariable = 100

print(varName, myVariable)

Python 100

In [ ]:
# 3. PascalCase (First word)

HouseNumber = 69

TotalPrice = 555.55

StudyHour = 14

print(HouseNumber)
print(TotalPrice)
print(StudyHour)

69
555.55
14

### 4. Intro of Python Keywords

- Python common keyword are 39
- likes
    - type, bool, int, floot, print, len, class, def, and so on.